@import '../variables/default.scss';
@import '../mixins/index.scss';
.calendar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #fff;
    overflow: hidden;
    transform: translate3d(0, 100%, 0);
    transition: all .2s linear;
    .red {
        background: #FFDEDC;
    }
    .yellow {
        background: yellow;
    }
    .calendar-header {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 30px;
        height: 100px;
        line-height: 100px;
        .btn-date {
            flex: 2;
        }
        .calendar-date {
            //flex: 6;
            width: 150px;
            text-align: center;
        }
        .separator {
            padding: 0 20px;
        }
        .btn-close {
            position: absolute;
            right: 20px;
            color: #FB4A41;
        }
    }
    .date-title {
        display: flex;
        .date {
            width: 15%;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
        }
    }
    .float-title {
        font-size: 20px;
        margin: 10px 0 0 30px;
        height: 30px;
        line-height: 30px;
    }
    .bscroll {
        height: calc(1100px);
        overflow: hidden;
    }
    .calenda-container {
        //overflow: scroll;
        // -webkit-overflow-scrolling: touch;
        // height: calc(100vh - 70px);
        margin: 10px 0 0 0;
        .scrollview {
            overflow: scroll;
            height: calc(100vh - 70px);
            -webkit-overflow-scrolling: auto;
            position: relative;
         }
        .infinite-list-phantom {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            z-index: -1;
        }
        
        .infinite-list {
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            text-align: center;
        }
        .main {
            box-sizing: border-box;
            height: 324PX;
            .main-year {
                font-family: PingFangSC-Regular;
                font-size: 24px;
                color: #999999;
                letter-spacing: 0;
                margin: 0 0 0 32px;
                height: 40px;
                line-height: 40px;
                text-align: left;
            }
            .row {
                display: flex;
                .day {
                    width: 15%;
                    height: 85px;
                    margin: 20px 0;
                    text-align: center;
                    line-height: 85px;
                    font-family: PingFangSC-Medium;
                    font-size: 28px;
                    color: #333333;
                    .day-block {
                        width: 86px;
                        margin: 0 auto;
                    }
                }
                .disable-select {
                    color: #cccccc;
                    user-select: none;
                }
                .start-active {
                    position: relative;
                    background: linear-gradient(to right, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                    .day-block{
                        // background: linear-gradient(to right, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                        // position: relative;
                        // z-index: 66;
                        color: #fff;
                        border-radius: 50%;
                        background-image: linear-gradient(79deg, #F83E3A 3%, #FF5C4B 91%);
                    }
                }
                .start-active-single {
                    .day-block{
                        // background: linear-gradient(to right, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                        // position: relative;
                        // z-index: 66;
                        color: #fff;
                        border-radius: 50%;
                        background-image: linear-gradient(79deg, #F83E3A 3%, #FF5C4B 91%);
                    }
                }
                .start-active-double{
                    position: relative;
                    .day-block{
                        // background: linear-gradient(to right, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                        // position: relative;
                        // z-index: 66;
                        color: #fff;
                        border-radius: 50%;
                        background-image: linear-gradient(79deg, #F83E3A 3%, #FF5C4B 91%);
                    }
                }
                .start-active-double::before {
                    width: 100%;
                    text-align: center;
                    content: "起期/止期";
                    z-index: 55;
                    position: absolute;
                    left: 0;
                    top: 65px;
                    font-size: 20px;
                    color: #FF5C4B;
                }
                
                .end-active {
                    position: relative;
                    background: linear-gradient(to left, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                    .day-block {
                        // background: linear-gradient(to right, transparent 60%, #FFDEDC 60%); /* 标准语法 */
                        // position: relative;
                        // z-index: 66;
                        color: #fff;
                        border-radius: 50%;
                        background-image: linear-gradient(79deg, #F83E3A 3%, #FF5C4B 91%);
                    }
                }  
                .start-active::before {
                    width: 100%;
                    text-align: center;
                    content: "起期";
                    z-index: 55;
                    position: absolute;
                    left: 0;
                    top: 65px;
                    font-size: 20px;
                    color: #FF5C4B;
                }
                .end-active::before {
                    width: 100%;
                    text-align: center;
                    content: "止期";
                    z-index: 55;
                    position: absolute;
                    left: 0;
                    top: 65px;
                    font-size: 20px;
                    color: #FF5C4B;
                }
            }
        }
    }
}
.calendar-hide {
    transform: translate3d(0, 0, 0);
}