@import '../variables/default.scss';
@import '../mixins/index.scss';

$float-layout-timer: 270ms;

.at-picker {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: $zindex-flot-layout;
  transition: visibility $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1); //贝塞尔曲线值：先快后慢http://www.roblaplaca.com/examples/bezierBuilder/

  /* elements */
  &__overlay {
    @include overlay;

    opacity: 0;
    transition: opacity 170ms ease-in;
  }

  &__container {
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    // min-height: $float-layout-height-min;
    // max-height: $float-layout-height-max;
    background-color: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform $float-layout-timer cubic-bezier(0.36, 0.66, 0.04, 1);
  }

  .picker {
    &-header {
      box-sizing: border-box;
      position: relative;
      padding: 30px;
      height: 54PX;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      &__btn{
        font-weight: bolder;
        font-family: PingFangSC-Regular;
        font-size: 32px;
        color: #333333;
        line-height: 32px;
        &-close{
          font-family: PingFangSC-Regular;
          font-size: 32px;
          color: #333333;
          letter-spacing: 0;
          text-align: right;
          line-height: 32px;
        }
        &-confirm{
          font-family: PingFangSC-Regular;
          font-size: 32px;
          line-height: 32px;
          color: #FB4A41;
        }
      }
      @include hairline-bottom(#E3E6EB);
    }

    &-body {
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      font-size: $font-size-base;
      // padding: 25px 0;
      // padding: $spacing-v-md;
      // max-height: 828px;
      // min-height: 514px;
      height: 304PX; // 这里需要向外暴露，控制选择器body的高度
      // &__content {
      //   max-height: 798px;
      //   min-height: 484px;
      // }
    }
  }

  /* modifiers */
  &--active {
    visibility: visible;

    .at-picker__overlay {
      opacity: 1;
    }

    .at-picker__container {
      transform: translate3d(0, 0, 0);
    }
  }
}
