@import '../variables/default.scss';
@import '../mixins/index.scss';

@keyframes atRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

$at-toast-min-width: 180px !default;
$at-toast-image-size: 55PX !default;
$at-toast-font-size: $font-size-base !default;
$at-toast-icon-size: 80px !default;
$at-toast-color: $color-white;
$at-toast-bg-color: rgba(17, 17, 17, 0.7);

.at-toast {
  /* elements */
  &__overlay {
    @include overlay;

    position: fixed;
    opacity: 0;
    z-index: $zindex-toast;
  }

  &__body {
    &--loading {
      .toast-body-content__img-item {
        animation: atRotate 1350ms linear infinite;
      }
    }
  }

  .toast-body {
    @include absolute-center(fixed);

    padding: 10PX 15PX;
    min-width: 120PX;
    max-width: 200PX;
    border-radius: 5PX;
    background-color: $at-toast-bg-color;
    z-index: $zindex-toast;
    box-sizing: border-box;

    &-content {
      &__icon {
        color: $at-toast-color;
        font-size: $at-toast-icon-size;
        text-align: center;
      }

      &__img {
        margin: auto;
        line-height: 0;
        text-align: center;

        &-item {
          width: $at-toast-image-size;
          height: $at-toast-image-size;
        }
      }

      &__info {
        min-width: 90PX;
        margin-top: $spacing-v-md;
        color: $at-toast-color;
        font-size: 16PX;
        line-height: 1.6;
        text-align: center;
      }
    }

    &--text {
      line-height: 1.6;
      min-width: initial;
      box-sizing: border-box;

      .toast-body-content__info {
        margin-top: 0;
      }
    }

    &.at-toast__body--custom-image,
    &.at-toast__body--success,
    &.at-toast__body--error,
    &.at-toast__body--loading {
      padding-bottom: $spacing-v-lg - (($at-toast-font-size * 1.6 - $at-toast-font-size) / 2);
    }
  }
}
