// .modal-content{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: nowrap;
// }

.modal-header{
  font-family: PingFangSC-Semibold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;  
  margin-bottom: 30px;
  font-weight: bolder;
}

.atbutton-container{
  margin: 0 30px;
}
