.layout-container{
  width: 100%;
  .my-layout-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap
  }
}